@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row-cols-12">
    <h1>Register a new user</h1>

    <form asp-controller="User" asp-action="Login" method="post">
        <div class="row mb-1">
            <div class="col-md-8">
                <div>
                    <label class="w-100" for="email">E-Mail Address (Username)</label>
                    <input type="email" name="email" id="email" value="" autocomplete="off" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <div>
                    <label class="w-100" for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="off" value="" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <input type="submit" name="Submit" value="Login" class="btn btn-lg btn-success" role="button" />
            </div>
        </div>
    </form>
</div>